# General
.htaccess
.DS_Store
**/.DS_Store
/*
!.gitignore
!README.md

# caasifyupdater
!caasifyupdater/
!caasifyupdatefunc.php
!caasifyupdatepage.php
!caasifyversion.txt
!caasify.php


# modules
!modules/
modules/*
!modules/addons/
modules/addons/*
!modules/addons/caasify/


!vpspricing.php
!templates/
templates/*
!templates/twenty-one
templates/twenty-one/*
!templates/twenty-one/vpspricing.tpl