.htaccess
.DS_Store
**/.DS_Store
/*
!.gitignore
!README.md


!caasifyupdater/
!caasifyupdatefunc.php
!caasifyupdatepage.php
!caasifyversion.txt


!modules/
modules/*
!modules/addons/
modules/addons/*
!modules/addons/caasify/